header {
    background-color: #85CFE1;
}

section {
    background-color: #85CFE1;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F7F7F7;
}

h2 {
    color:#F7F7F7;
}

nav {
    display: inline-flexbox;
}

a {
    background-color: #2388C1;
    color:#F7F7F7;
}

img {
    display: none;
}

