body {
    padding: 1% 1%;
    margin: 1%;
}

header {
    display: block;
    background-color:#95C5EC;
    background-image: url('images/flywheel.jpg');
    padding: 5%;
    text-align: center;
}

nav > a {
    display: inline;
    padding: 1%;
    border-radius: 2%;
    margin: 2%;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif'
}

nav > a:hover {
    background-color: #FDFDFD;
}

nav > a:focus {
    background-image: linear-gradient(#FDFDFD 0%, #afafaf 100%);
}

a.active {
    background-image: linear-gradient(#FDFDFD 0%, #afafaf 100%);
    border-style: solid;
}

aside, section {
    display: inline;
}

aside.left {
    background-color: #87b1d4;
    float: left;
    width: 15%;
    height: 100vh;
    margin-top: 0;
    margin-right: 5%;
    object-fit: fill;
}

aside img {
    display: block;
    position: relative;
    width: 50%;
    margin: 10% 25%;
    border-style: solid;
    border-color: #000000;
}

section {
    clear:both;
}

table {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 auto;
    margin-top: 5%;
    width: 60vw;
    height: 75vh;
    border-radius: 5px;
    border-style: solid;
    border-color: #000000;
}

table tr:nth-child(odd) {
    background-color: #c4a683;
    opacity: 0.6;
}

table tr:nth-child(even) {
    background-color: #997f60;
    opacity: 0.6;
}

table tr {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

table tr:first-child {
    background-color: #FFE4C4;
    opacity: 1;
}

table tr:first-child > th {
    color: #FDFDFD;
    text-shadow: #000000 2px 2px;
}

table tr:first-child > th:first-child {
    text-align: left;
}

th {
    padding: 2%;
}

td {
    color: #000000;
    text-shadow: #FDFDFD 1px 1px;
    text-align: center;
    padding: 2%;
}

table tr:hover {
    opacity: 1;
}




